<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar-->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">RC4 Student Serivces</li>
      <li {% if page.url == "/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/"><i class='fa fa-home'></i> <span>myRC4 Home</span></a></li>
      <li {% if page.url == "/csc/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/csc/"><i class='fa fa-sitemap'></i> <span>Our CSC</span></a></li>
      <li {% if page.url == "/calendar/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/calendar/"><i class='fa fa-calendar'></i> <span>College Calendar</span></a></li>
      <li {% if page.url == "/interest/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/interest/"><i class='fa fa-group'></i> <span>Interest Groups</span></a></li>
      <li {% if page.url == "/menu/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/menu/"><i class='fa fa-cutlery'></i> <span>Dining Hall Menu</span></a></li>
      <li {% if page.url == "/supper/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/supper/"><i class='fa fa-truck'></i> <span>Supper Delivery</span></a></li>
      <li class="header">RC4 Forms</li>
      <li {% if page.url == "/bookings/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/bookings/"><i class='fa fa-gamepad'></i> <span>Book Facilities</span></a></li>
      <li {% if page.url == "/link/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/link/"><i class='fa fa-globe'></i> <span>Get Short URL</span></a></li>
      <li {% if page.url == "/poster/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/poster/"><i class='fa fa-file-image-o'></i> <span>Display Poster</span></a></li>
      <li {% if page.url == "/claims/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/claims/"><i class='fa fa-usd'></i> <span>Claim Expenses</span></a></li>
      <li {% if page.url == "/feedback/" %} class="active" {% endif %}><a href="{{ site.baseurl }}/feedback/"><i class='fa fa-comment'></i> <span>Feedback</span></a></li>
      <li class="header">Important Links</li>
      <li><a href="http://link.rc4.sg/diningcredits" target="_blank"><i class='fa fa-money'></i> <span>Meal Credits</span><i class="fa fa-external-link pull-right"></i></a></li>
      <li><a href="https://nus-utown.evs.com.sg/EVSWebPOS/web/index.jsp" target="_blank"><i class='fa fa-plug'></i> <span>Aircon Credits</span><i class="fa fa-external-link pull-right"></i></a></li>
    </ul><!-- /.sidebar-menu -->

  </section>
  <!-- /.sidebar -->

</aside>
